In [1]:
df = read.csv('Data.csv')

In [2]:
df$Age = ifelse(is.na(df$Age),
                ave(df$Age, FUN = function(x) mean(x, na.rm = TRUE)),
                df$Age)

In [3]:
df$Salary = ifelse(is.na(df$Salary),
                ave(df$Salary, FUN = function(x) mean(x, na.rm = TRUE)),
                df$Salary)

In [4]:
df

   Country Age      Salary   Purchased
1  France  44.00000 72000.00 No
2  Spain   27.00000 48000.00 Yes
3  Germany 30.00000 54000.00 No
4  Spain   38.00000 61000.00 No
5  Germany 40.00000 63777.78 Yes
6  France  35.00000 58000.00 Yes
7  Spain   38.77778 52000.00 No
8  France  48.00000 79000.00 Yes
9  Germany 50.00000 83000.00 No
10 France  37.00000 67000.00 Yes

In [5]:
#Let's encode the categorical column into factors
df$Country = factor(df$Country,
                    levels= c('France','Spain','Germany'),
                    labels= c(1,2,3))

In [6]:
df$Purchased = factor(df$Purchased,
                    levels= c('No','Yes'),
                    labels= c(0,1))

In [7]:
df

   Country Age      Salary   Purchased
1  1       44.00000 72000.00 0
2  2       27.00000 48000.00 1
3  3       30.00000 54000.00 0
4  2       38.00000 61000.00 0
5  3       40.00000 63777.78 1
6  1       35.00000 58000.00 1
7  2       38.77778 52000.00 0
8  1       48.00000 79000.00 1
9  3       50.00000 83000.00 0
10 1       37.00000 67000.00 1

In [8]:
#Feature Scaling for numeric columns and not factor columns
#Always Remember: In R index starts with 1 and last index is the last index
df[,2:3]=scale(df[,2:3])

In [9]:
df

   Country Age        Salary     Purchased
1  1        0.7199314  0.7110128 0
2  2       -1.6236751 -1.3643758 1
3  3       -1.2100975 -0.8455287 0
4  2       -0.1072238 -0.2402070 0
5  3        0.1684946  0.0000000 1
6  1       -0.5208015 -0.4996306 1
7  2        0.0000000 -1.0184777 0
8  1        1.2713683  1.3163344 1
9  3        1.5470867  1.6622325 0
10 1       -0.2450830  0.2786401 1

In [10]:
library(caTools) #import the library for test train split

In [11]:
set.seed(123)
split= sample.split(df$Purchased, SplitRatio = 0.8) #ratio is for training set

In [12]:
training_set = subset(df, split==TRUE)
test_set = subset(df, split == FALSE)

In [13]:
training_set

   Country Age        Salary     Purchased
1  1        0.7199314  0.7110128 0
2  2       -1.6236751 -1.3643758 1
3  3       -1.2100975 -0.8455287 0
4  2       -0.1072238 -0.2402070 0
5  3        0.1684946  0.0000000 1
7  2        0.0000000 -1.0184777 0
8  1        1.2713683  1.3163344 1
10 1       -0.2450830  0.2786401 1

#### Coding this in R in damn easy and short!